<!DOCTYPE html>
<html lang="en">

<%- include('../../layout/head') %>

<body>

  <%- include('../../layout/header') %>



  <main>

    <div class="new_header">

      <h2>Search By Title or Author</h2>

    </div>




    <form action="/searches" method="POST">

      <input class="input" type="text" name="search_query" id="" placeholder="Enter a title or Author" required> <br>


      <div class="input">

        <label for="title">Title</label>
        <input type="radio" name="search_by" value="title" checked> <br>

      </div>

      <div class="input">
        <label for="title">Author</label>
        <input type="radio" name="search_by" value="author"> <br>
      </div>

      <button type="submit"> Search the Google Books API </button>


    </form>

  </main>

  <%- include('../../layout/footer') %>



</body>

</html>