body{
  background-color: lightgrey;
  font-family: Arial, Helvetica, sans-serif;
}

main{

  margin: 0 auto;
}


header{
  background-color: rgb(14, 14, 14);
  color: #eee;
  height: 120px;
  display: grid;
  grid-template-columns: 150px 1fr;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.h1{
  font-size: 30px;
  color: #eee;
  font-weight: bold;
  margin-right: 10%;
  text-align: end;
  margin-top: 46px;
}



/* Burger Menu Credit Goes For : https://codepen.io/erikterwan/pen/EVzeRP?js-preprocessor=none */

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}



#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.new_header{

  height: 150px;
  background-color: gray;
  display: flex;
  align-items: center;
  
}



.input{
  width: 50%;
  font-size: 1.25rem;
  background-color: white;
  border: none;
  color: black;
  margin-top: 2.5rem;
  margin-left: 25%;
  padding: 1.25rem;
  border-radius: 5px;
}


.container{
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto;
  width: 75%;
  background-color: #dddddd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
  text-align: center;
  line-height: 1.6;
  border: solid 1px rgba(0,0,0,0.4);
  margin: 5rem auto;
}

footer{
  background-color: black;
  height: 100px;
  display: flex;
  align-content: stretch;
  display: grid;
  grid-template-columns: 1fr;
  /* position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; */

}

.hidden{
  visibility: hidden;
}

