<footer>
    <ul>
        <li><a href="https://www.linkedin.com/in/omar-ewies/" target="_blank"> <i class="fab fa-linkedin"></i>LinkedIn</a></li>

        <li><a href="https://github.com/oebitw" target="_blank"> <i class="fab fa-github"></i> GitHub</a></li>

        <li><a href="https://stackoverflow.com/users/story/15214052?newreg=a8ee98c0d013469399765dd01ea37366"target="_blank"><i class="fab fa-stack-overflow"></i> Stack Overflow</a> </li>


    </ul>
</footer>