<header>


    <nav role="navigation">



      <div id="menuToggle">

        <input type="checkbox" />

        <span></span>
        <span></span>
        <span></span>


        <ul id="menu">
          <a href="/">
            <li>Home</li>
          </a>
          <a href="searches/new">
            <li>Search</li>
          </a>
        </ul>
      </div>
    </nav>

    <div class="h1">

      <h1>
        Book App
      </h1>

    </div>



</header>